.root {
    
    -fx-font-size: 12;
}

.menu-bar {
    -fx-background-color: white;
}

.sense-tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}

.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
